/* info-start */
#info{
    
    background-color:#f3f4f7 ;


 
    
}
.container{
    width: 1450px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
   
   padding: 20px 0px;
}
.info-contact{
    /* border: 1px solid blue; */
    display: flex;
}
.info-sosial{
    /* border: 1px solid blue; */
    display: flex;
}
.info-sosial-element i{
    margin-right: 20px;
 
}
.info-sosial-element i , .info-contact-element i {
    font-size: 1.2em;
    color:#4eaf4e ;
}
.info-sosial-element select{
    font-size: 1.2em;
}


.info-contact-element{
    margin-right: 25px;
}
/* info-end */

#navbar{

   
}

.container-navbar{
    /* border: 1px solid red; */
    width: 1450px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 0px;
  background-color:  #fff ;
     margin-left: 30px;
  position: absolute;

}
.picture{
    width: 1918px;
    height: 871px;
    
    
}
picture img{
  
   
}
.noke{
    /* border: 1px solid green; */
}
.navbar-nav{
    /* border: 1px solid blue; */
    display: flex;
   height: 50px;
    margin-left: -30px;
}


.navbar-nav ul{
    display: flex;
   
}
.navbar-nav ul li{
    font-size: 1.5em;
    margin-left: 70px;
    margin-top: 12px;
    margin-right: 20px;
}
.input input , input i{
    font-size: 1.3em;
    margin-top: 10px;
}
.navbar-nav-a{
    display: flex;
}
/*  */
