.item{
 
    margin: 20px;
    min-height: 300px;
    overflow: hidden;
    position: relative;
   
}

.item img{
    width: 100%;

}
.item h1{
    font-size: 1.4em;
    margin-top: 20px;
    text-align: center;
}
.item:hover img{
    transform: scale(1.5);
    transition: all 0.3s ease;

}


.item-overlay{
    
    width: 100%;
    min-height: 300px;
    position: absolute;
    opacity: 0;
    z-index: 5;
}
.item:hover .item-overlay{
    opacity: 1;
    transition: all 0.3s ease;
}