.header{
    border: 1px solid black;
    height: 200px;
  

}
.nav{
    height: 100px;
    width: 800px;
    border: 1px solid black;
    margin-left: 246px;
    margin-top: 50px;


}
.section{
    min-height: 300px;
    border: 1px solid black;
    align-items: center;
    padding-bottom: 275px;
    margin-right: 30px;
    margin-left: -1;
    margin-top: 50px;

}

.section-b{
    min-height: 300px;
    border: 1px solid black;
    align-items: center;
    padding-bottom: 44px;
   
margin-left: 209px;
    
    width: 500px;
    margin-top: 50px;
   
    


}
.article{
    min-height: 200px;
    border: 1px solid black;
    width: 477px;
    margin-left: 104px;
    margin-top: 50px;
}
.header-1{
    height: 50px;
    width: 300px;
    border: 1px solid black;
    margin-left: 70px;
    margin-top: 20px;
}
.section-1{
    height: 50px;
    width: 300PX;
    border: 1px solid black;
    margin-left: 70px;
    margin-top: 20px;
}
.footer{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-m{
    width: 380px;
    height: 125px;
    border: 1px solid black;
    margin-left: 50px;
    margin-top: 50px;
}

.footer-b{
    border: 1px solid black;
    height: 200px;
    margin-top: 50px;
}