body{
    font-family:"Poppins", sans-serif ;
}
/* Navbar-Start */
#navbar{
padding: 10px 0px;
box-shadow:rgb(58 78 95 / 20%) 0 10px 16px, rgb(58 78 95 / 5%) 0 -5px 16px ;
background-color: black;
}
.navbar-container{
  
    min-width: 992px;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
  

}
 .My-name{

     font-size: 30px;
     font-weight: 700;
     line-height: 32px;
     color:#ffffff ;

 }
 .navbar-elements{

     display: flex;


 }
 .navbar-elements ul {
display: flex;

 }
 .navbar-elements ul li{
     margin: 0 0 0 30px;
     font-family:"Poppins", sans-serif ;
     font-size: 20px;
     color: #828282;
     font-weight: 600;
     line-height: 1.6;
     cursor: pointer;
 }
 /* Navbar-End */
 
 
 /* Home-Start */
 #home{
   background-image: url(/imges/7fe774bbacce09f00cb5b2e3cbc48db3.png);
    padding: 62px 0px;
 }
 .text-center{
    min-height: 200px;
    min-width: 900px;
     /* border: 1px solid blue; */
     display: flex;
     flex-direction: column;
     text-align: center;
  
    
  
 }
 .container{
     /* border: 1px solid red; */
     
      justify-content: center;
     
 }
 .text-center h2{
     font-size: 55px;
     font-weight: 300px;
     color:#ffffff ;
     margin-bottom: 4rem;
     margin-top: 8rem;
    
 }
 .text-center h1{
     font-size: 90px;
     font-weight: 500;
     line-height: 1.2;
     margin-bottom: 4rem;
     color:#ffffff ;
    
  
 }
 .text-center p{
     font-size: 15px;
     font-weight: 300;
     color:#ffffff ;
     line-height: 1.6;
     margin-bottom: 4rem;
 }
 .text-center button{
   font-weight: 600;
   background-color:#f34236 ;
   font-size: 13px;
   padding: 12px 34px;
   line-height: 25px;
   text-align: center;
   color: white;
   border:#f34236 ;
   transition: all 0.55s;
 }
 .lets-talk button:hover{
     background-color: black;
     box-shadow:0px 15px 20px rgb(243 66 54 / 40%) ;
     cursor: pointer;
 }
/* Home-end */
/* About-me-start */

#About-me{
 
    margin-top: 30px;
  padding: 100px 0px;
 
   
}

.p-10px{
   
    /* border: 1px solid black; */
    margin-left: 80px;
    height: 350px;
    width: 350px;
   
}
.p-30px{
    /* border: 1px solid blue; */
   margin-left: 80px
}
 .p-30px h1{
     font-size: 32px;
     font-weight: 600;
     font-family:"Poppins", sans-serif ;
     line-height: 1.4;
     


 }
 .p-30px h1 a{
     color:#111111 ;

 }
 .p-30px h1 b{
     color:#f34236 ;
 }
.p-30px h2{
    padding-bottom: 5px;
    color:#111111 ;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2rem;
    line-height: 1.2;

}
.p-30px .text-a{
    margin-bottom: 1rem;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #828282;

}
.p-30px .text-b{
    margin-bottom: 1rem;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #828282;

}
.contact-me-sosial{
    display: flex;
   
}
.contact-me-sosial i{
    border: 1px solid black;
    font-size: 20px;
    padding: 2px 9px;
    color:#f3f3f3 ;
    background-color:black ;
     margin-right: 10px;
    line-height: 1.6;
     font-weight: 400;
     border-radius: 12%;
     cursor: pointer;
     transition: all.55s ease;
}
.contact-me-sosial i:hover{
    background-color: white;
    color: black;
}
.dowload-cv{
    margin-top: 25px;
   
}
.dowload-cv .btna{
    background-color:#f34236 ; 
    border: #f34236;
    font-size: 14px;
    line-height: inherit;
    cursor: pointer;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 3px;
    text-align: center;
    color: white;
    font-family:"Poppins", sans-serif ;
    margin-right: 10px;
    transition: all .55s ease;

}
.dowload-cv .btna:hover{
    background-color:black ;
    box-shadow:0px 15px 20px rgb(243 66 54 / 40%) ;
}
/* About-me-end */
/* p-60-start */
#p-60{
    padding: 60px 0px;
  
    background-color:#f11e0f ;
    margin-bottom: 60px;
}
.freelance{
   
    text-align: center;
}
.freelance h1{
  font-weight: 600;
  color: white;
  font-size: 32px;
  margin-bottom: .5rem;
  line-height: 1.2;
  box-sizing: border-box;
  font-family:"Poppins", sans-serif ;
  text-decoration: none;

}
.freelance .btnb{
    padding: 12px 25px;
    line-height: inherit;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
    background-color: white;
    border: 1px solid  white;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    margin-top: 10px;
    color:#f11e0f ;
    transition: all .55s  ease;
}
.freelance .btnb:hover{
    background-color:#f11e0f ;
    color: white;
  
}
/* p-60-end */
/* work-start */
#work{
    padding: 57px 0px;
}
.my-portfolio-are{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

    
}
.my-portfolio-are h1 .my{
    color: #f34236;
    box-sizing: border-box;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    font-family:"Poppins", sans-serif ;
    
}
.my-portfolio-are h1 .portfolio-text{
    color:#111111 ;
    box-sizing: border-box;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    font-family:"Poppins", sans-serif ;
}
.portfolio-filter-area{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

}
.portfolio-filter-area ul{  
    padding: 0 5px;
    font-weight: 600;
    font-family:"Poppins", sans-serif ;
    font-size: 14px;
    line-height: normal;
    display: flex;
    color:#111111 ;
}
.portfolio-filter-area ul li{
    margin: 0 15px;
    cursor: pointer;
    transition: all.35s ease;

}
.portfolio-filter-area ul li:hover{
    color:#f34236 ;
}
.portfolio-info{
   border: 10px solid white;
   border-radius: 8px;
     height: 250px;
   margin: 10px;
   position: relative;
   display: flex;
   align-items: flex-end;
   overflow: hidden;
   box-shadow:0px 8px 15px rgb(0 0 0 / 40%) ;
  
}
.portfolio-info img{
  width: 100%;
  height:100%;
  object-fit: cover;
  transition: all .55s ease;
}
.portfolio-cover{
   width: 100%;
 height: 60px;
 background-color:#f34236  ;
position: absolute;
 left: 0;
 opacity: 0;
 display: flex;
 justify-content: center;
align-items: center;
transition: all .55s ease;
}
.portfolio-info:hover .portfolio-cover{
    opacity: 1;

}
.portfolio-info:hover img{
    transform: scale(1.3);
    transition: all .55s ease;
}
.portfolio-cover h5{
    color:#ffffff ;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    cursor: pointer;
}
/* work-end */
/* contact me-start */
#contact-me{
padding: 120px 70px;
background-color:#f3f3f3 ;
}
.contact-me-text{
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}
.contact-me-text h1 .contact{
    font: 600;
    font-size: 32px;
    color:#111111 ;
    line-height: 1.2;
    text-align: center;
    
}
.contact-me-text h1 .me-text{
    font: 600;
    font-size: 32px;
    color: #f34236;
    line-height: 1.2;
    text-align: center;
}
.contact-form{
    min-height: 200px;
    margin: 0px 10px;
    padding: 43px;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 30%);
    
 
}
.adres-info{
   min-height: 200px;
    margin: 0px 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 align-items: center;
 box-shadow: 0px 8px 15px rgb(0 0 0 / 30%);
 padding-bottom: 48px;
  
}
.drop-us{
    display: flex;
    justify-content: space-between;
}
.drop-us h5{
font-size: 30px;
font-weight: 600;
color:#111111 ;
margin-bottom: .7rem;
line-height: 1.2;
font-family:"Poppins", sans-serif ;
}
.drop-us p{
    font-size: 17px;
    font-weight: 600;
    line-height: 1.6;
    color:#828282 ;
    margin-bottom: 10px;
    font-family:"Poppins", sans-serif ;
}

.direction-icon i{
    font-size: 60px;
    color:  #828282;
}
.contact-input{
    display: flex;
    justify-content: space-between;
}
.contact-input .name ,.email{
    height: 35px;
    font-size: 15px;
    width: 241px;
   
}
.your-comment{
    height: 150px;
    width: 718px;
    margin-top: 25px;
}
.btnc{
    background-color:#111111 ;
    border-color: #111111;
    color: #ffffff;
    padding: 12px 25px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    border-radius: 4px;
    margin-top: 25px;
    font-family:"Poppins", sans-serif ;
    transition: all .55s ease;
}
.btnc:hover{
    background-color:#f34236 ;
    box-shadow:0px 15px 20px rgb(243 66 54 / 40%) ;
}
.location-adress{
    margin-top: 40px;
    display: flex;
}
.email-adress{
    display: flex;
    margin-left: 83px;
    margin-top: 40px;
}
.phone-numbers{
    display: flex;
    margin-left: -42px;
    margin-top: 40px;
   
}
.adres-info h1{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 12px;
    font-family:"Poppins", sans-serif ;
    line-height: 1.2;
}
.adres-info span{
    font-size: 18px;
    color:#828282;
    line-height: 1.6;
    font-weight: 400;
    font-family:"Poppins", sans-serif 
}
.icona{
    margin-right: 30px;
    width: 52px;
    height: 52px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    
}
.adres-info i{
    font-size: 35px;
  color: white;
}
/* Contact-me-end */
#footer-dark-area{
    border: 1px solid black;
    background-color:#212121 ;
    padding: 70px 0px;
}
.fot-logo{
    
}
.fot-logo h1{
    color:#ffffff ;
    padding-bottom: 25px;
    font-size: 43px;
    font-weight: 900;
    line-height: 43px;
    box-sizing: border-box;
    text-align: center;
    font-family:"Poppins", sans-serif ;
}
.nav-icons-sosial{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icons-sosial span i{
    color:#ffffff ;
    font-size: 20px;
    font-weight: 500;
    transition: all .55s ease;
}
.nav-icons-sosial span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display:flex ;
    justify-content: center;
    align-items: center;
    margin: 0px 7px;
    background-color: black;
    border: 1px solid black;
    cursor: pointer;
    transition: all .55s ease;
}
.nav-icons-sosial span:hover{
    background-color:#212121 ;
}
.nav-icons-sosial span:hover i{
    color:#828282 ;
}